



#filterToggleBtnSB {
    position: fixed;
    margin-top: 100px;
    right: 20px;
    z-index: 9999;
    border-radius: 50%;
    background-color: #0c7ae8;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filter-right-SB {
    position: fixed;
    top: 230px;
    right: 40px;
    z-index: 9998;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: none;
    min-width: 250px;
}



.custom-modal-lgSB {
    min-width: 1300px !important;
}



/* Table Css */
.data-table-sb th,
.data-table-sb td {
    padding: 10px 10px !important;
    text-align: center !important;
}

.data-table-sb th {
    background: linear-gradient(45deg, #e0f7fa, #b2ebf2);
    color: #004d66;
    text-align: center !important;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.data-table-sb {
    border-collapse: separate;
    border-spacing: 0 10px;
}

    .data-table-sb tbody tr:hover {
        background-color: #f9f9f9;
    }

    .data-table-sb td,
    .data-table-sb th {
        font-size: 14px;
        border: 1px solid #ddd;
    }


/* Button styles */
button.btn-secondary {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
    padding: 5px !important;
}

    button.btn-secondary:hover {
        background-color: #f0f0f0 !important;
    }


table.dataTable tr.odd.selected,
table.dataTable tr.even.selected,
table.dataTable tr.selected {
    background-color: transparent !important;
    color: gray;
}


table.dataTable.display tbody > tr.odd.selected > .sorting_1,
table.dataTable.display tbody > tr.selected > .sorting_1 {
    background-color: transparent !important;
}


table.dataTable tbody tr:hover {
    background-color: transparent !important;
    color: gray;
}


.avatar-item .avatar-badge {
    position: absolute;
    bottom: -9.5px;
    right: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 19px;
    font-weight: 700;
  
}

.avatar-item{
    margin-bottom: 0px;
}
.progress-bar {
    background-color: #321D45;
}